* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* Nav Section */

.nav-container {
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-panel {
    display: flex;
    justify-content: space-between;
    width: 16%;
    align-items: center;
}

.logo-icon {
    width: 86px;
    height: 40px;
}

.logo-text {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
}

.g-word {
    color: #ff42a5;
}

.menu-bar {
    display: flex;
    list-style: none;
    width: 120%;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #3C354F;
}

.follow-us-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-style: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.follow-us {
    padding-left: 15px;
}

/* navigation panel ended */

/* Play like goat section */

.goat-section {
    display: flex;
    justify-content: space-around;
    background-image: url("../images/Group14.png");
    padding: 30px 50px 30px 100px;
}

.goat-left-section {
    margin-left: 100px;
    width: 50%;
}

.goat-title-section {
    width: 70%;
    text-align: center;
}

.goat-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #0B0223;
}

.goat {
    font-size: 5.25rem;
    font-weight: 800;
    margin-top: -40px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-right-section {
    display: flex;
    justify-content: center;
}
.goat-description{
    color: #534C64;
    width: 50%;
    text-align:left;
    font-size: 1.15rem;
    font-weight: 500;
    margin-left: 55px;
    margin-top: -50px;
    margin-bottom: 20px;
}
.goat-signin{
    padding: 20px 40px;
    border-radius: 40px;
    background-color:#ff42a5;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-style: none;
}

.goat-rough{
    padding: 20px 40px;
    border-radius: 40px;
    background-color:#4EC5F7;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-style: none;
    margin-left: 20px;
}
.goat-btn-section{
    width: 70%;
    text-align: center;
    margin-left: 20px;
}
.goat-right-section img {
    width: 60%;
    margin-right: 100px;
}

/* play like goat section ended */

.funny-image-container{
    display: flex;
    justify-content: space-around;
}
.funny-img-description{
    color: #534C64;
    font-weight: 500;
    font-size: 0.9rem;
}
.funny-img-1,
.funny-img-2,
.funny-img-3,
.funny-img-4
{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20%;
}
.funny-image-container{
    padding: 50px 200px 20px 200px;
}
.funny-videos-description{
    text-align: center;
    margin-bottom: -10px;
    margin-top: 50px;
}
.funny-title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}
.funny-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.funny-description{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-top: -30px;
}
/* Play Button Hover */

.funny-btn-hover{
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #ff42a5;
    width: 100%;
    height: 81%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
}
.funny-watch{
    font-weight: 600;
    margin-top: 1px;
    color: #ff42a5;
}
.funny-btn-hover:hover{
    opacity: 1;
    transition: 0.5s;
}